<!doctype html>
<html>
	<head>
		<link href="css/main.css" rel="stylesheet" />

		<!-- Include the AngularJS library -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
		    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
	</head>
	<body ng-app="locationDataApp">
		<div>
			<h1>Bathroom Locations</h1>
		</div>
		<!-- source to show us how to sort tables https://scotch.io/tutorials/sort-and-filter-a-table-using-angular-->
		<div ng-controller="MainController">
		
		<div id="userinput">
			<label ng-repeat="(gender, enabled) in Filters.Genders">
				<input type="checkbox" ng-model="Filters.Genders[gender]">{{gender}}
			</label>
			<label>
				<input type="checkbox" ng-model="Filters.HandicapOnly">Handicap Only
			</label>
			<select id="floor" name="floor" ng-model="Filters.Floor">
				<option value="none" id="nofloor" selected> - </option>
				<option value="-2">-2 (deeper basement)</option>
				<option value="-1">-1 (basement)</option>
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="400">(just testing)</option>
			</select>
			<p>genders: {{Filters.Genders}}</p>
			<p>female: {{Filters.Genders['female']}}</p>
			<p>handicap only?: {{Filters.HandicapOnly}}</p>
			<p>floor {{Filters.Floor}}</p>

		</div>
		<button type="button" href="#" ng-click="updateB()">Get Data</button>
			<div id="topMenu"></div>
			<table>
				<th>
					<td>Floor</td>
					<td>Distance</td>
					<td>Gender</td>
					<td>Handicap Access</td>
				</th>
				<tr ng-repeat="x in content">
					<td>{{ x.Floor }}</td>
					<td>{{ x.distance_in_meters }}m</td>
					<td>{{ x.Gender }}</td>
					<td>{{ x.Handi_access }}</td>
				</tr>
			</table>
		</div>
		
		<div id="map"></div>	

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXe-9qkAhiSL2-WDNfT8624iaWBO6z3L4"
        async defer></script>
		
		<!--I might need this https://docs.angularjs.org/guide/bootstrap-->
		<!-- Modules -->
		<!--<script src="js/app.js"></script>-->

		<!-- Controllers -->
		<!--<script src="js/controllers/MainController.js"></script>-->
		<script>
			function initMap(x, data) {
				var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 18,
				  center: x
				});
				var marker = new google.maps.Marker({
				  position: x,
				  map: map
				});
				
				for(var i in data)
					{
						console.log(data[i]);
						var restplace = new google.maps.LatLng(parseFloat(data[i].Latitude), parseFloat(data[i].Longitude));
						new google.maps.Marker({
							position: restplace,
							map: map
						});
					}
			 }
		
		
         var app = angular.module('locationDataApp', []);
       
         app.controller('MainController', ['$scope', '$http', function($scope, $http) {

			$scope.getGeolocationData = function(position){
				$scope.$apply(function(){
				$scope.myLatitude = position.coords.latitude.toString();
				$scope.myLongitude = position.coords.longitude.toString();
				$scope.makeCall();
				console.log("Hello?");
				});
			}
			
			//this should only be used inside getGeolocationData to ensure coordinates exist
			$scope.makeCall = function(){
				console.log("is this running?");
				$http({
					url: "js/locationAsk.php", 
					method: "GET",
					params: {
						mylat: $scope.myLatitude,
						mylong: $scope.myLongitude,
						//genders. False if results for that gender should be hidden
						gu: $scope.Filters.Genders['unisex'],
						gm: $scope.Filters.Genders['male'],
						gf: $scope.Filters.Genders['female'],
						//handicap. True if we should only show handicap results
						hc: $scope.Filters.HandicapOnly,
						//floor number.
						fl: $scope.Filters.Floor
						 }  
				}).then(function successCallback(response) {
					console.log("We got a response!");
					$scope.content = response.data;
					console.log(typeof response.data);
					for(var i in response.data)
					{
					//console.log(response.data[i]);
					}
					$scope.statuscode = response.status;
					$scope.statustext = response.statustext;
					//--------------------google maps stuff
					myLatLng = new google.maps.LatLng({lat: parseFloat($scope.myLatitude), lng: parseFloat($scope.myLongitude)});
					initMap(myLatLng, response.data);

					
					//-------------------------------------
					
					// this callback will be called asynchronously
					// when the response is available
				}, function errorCallback(response) {
					// called asynchronously if an error occurs
					// or server returns response with an error status.
					$scope.content = "Something went wrong";
					console.log("something bad happened");
					//https://www.w3schools.com/angular/angular_http.asp
				});

			}
			
			$scope.updateB = function() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition($scope.getGeolocationData);
				}
			//http://stackoverflow.com/questions/30613442/angularjs-geolocation-data-update help with structuring and calling services
			//http://stackoverflow.com/questions/23185619/how-can-i-use-html5-geolocation-in-angularjs
			}
			
			$scope.Filters =
			{
				Floor: 0,
				Genders: {unisex: true, female: true, male: true}, //http://stackoverflow.com/questions/14514461/how-do-i-bind-to-list-of-checkbox-values-with-angularjs
				HandicapOnly: false
			}

		}]);
		</script>
	</body>
</html>
